.projects-container{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.individual-card{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 28vw;
    border: 1px solid #45454550;
    border-radius: 38px;
    margin: 10px;
    padding-bottom: 20px;
}

.project-name{
    font-size: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.project-image{
    width: 320px;
    height: 180px;
    border: 1px solid #45454550;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.project-description{
    width: 90%;
    margin-top: 40px;
}

.project-deploy{
    font-style: italic;
}

.project-link{
    text-decoration: none;
    border: 1px solid;
    border-radius: 40px;
    padding: 10px;
    background-color: none;
    transition: all 0.2s;
}

.project-link:hover{
    color: rosybrown;
}
