.projects-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #f4f4f480;
}

.projects-container h1{
    font-size: 3rem;
    text-align: center;
    color: #f0f0f0;
    letter-spacing: 0.5rem;
}

.individual-cards-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 20px;
    width: 100vw;
}

.individual-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 20%;
    margin: 1.5rem;
    padding: 20px;
    border:1px solid #c4c4c450;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 4px 3px 4px #d6bffc50;
    transition: all 0.3s ease-in-out;
}

.individual-card:hover{
    box-shadow: 4px 3px 8px #d6bffc;
}

.project-name{
    font-size: 2rem;
    color: rgba(255, 255, 255, 0.829);
    padding: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.img-container{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 16px;
    margin: 10px;
}

.project-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.4s ease-in-out;
}

.project-image:hover{
    transform: scale(1.1);
    opacity: 0.5;
}


.project-description{
    width: 90%;
}

.project-deploy{
    font-style: italic;
    font-family: 'Quicksand', sans-serif;
    color: #b479b9;
}

.project-link{
    font-family: 'Quicksand', sans-serif;
    text-decoration: none;
    border: 1px solid;
    border-radius: 40px;
    padding: 10px;
    background-color: none;
    transition: all 0.2s;
    color: rgba(255, 255, 255, 0.829);
}

.project-link:hover{
    color: #b479b9;
}


.modal{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    pointer-events: none;
    transition: all 0.45s ease-in-out;
    z-index: 999;
}

.open{
    opacity: 1;
    pointer-events: all;
}

.modal-description{
    font-size: 1rem;
    color: rgb(99, 99, 99);
    width: 50vw;
    padding: 1.5rem;
    margin: auto;
    margin-bottom: 5rem;
    background-color: #f4f4f4;
    border-radius: 10px;
}

.full-card{
    height: 80%;
    transform: scale(0.8);
    transition: all 0.8s ease-in-out;
    border-radius: 15px;
}

 
.portfolio-arrow,
.portfolio-arrow:before{
    position: absolute;
}

.portfolio-arrow{
    margin:auto;
    width: 40px;
    height: 40px;
    margin-top: 44.5vh;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    border-left: none;
    border-top: none;
    border-right: 2px #fff solid;
    border-bottom: 2px #fff solid;
    cursor: pointer;
}

  
.portfolio-arrow:before{
    content: '';
    width: 20px;
    height: 20px;
    top: 50%;
    border-left: none;
    border-top: none;
    border-right: 1px #fff solid;
    border-bottom: 1px #fff solid;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-name: portfolio-arrow;
}
  
@keyframes portfolio-arrow{
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform: translate(-10px, -10px);
    }
}

  
  