html{
    scroll-behavior: smooth;
}

.header-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    color: #CCC;
    background-color: #222;
}

.header-title{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    font-size: 8rem;
    -webkit-text-stroke: .5px #fff;
    color: transparent;
}


.arrow,
.arrow:before{
    position: absolute;
    left: 50%
}

.arrow{
    margin:auto;
    width: 40px;
    height: 40px;
    margin-top: 85vh;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    border-left: none;
    border-top: none;
    border-right: 2px #fff solid;
    border-bottom: 2px #fff solid;
    cursor: pointer;
}

  
.arrow:before{
    content: '';
    width: 20px;
    height: 20px;
    top: 50%;
    border-left: none;
    border-top: none;
    border-right: 1px #fff solid;
    border-bottom: 1px #fff solid;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-name: arrow;
}
  
@keyframes arrow{
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform: translate(-10px, -10px);
    }
}

  
  