html{
    scroll-behavior: smooth;
}

.header-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 95vh;
    color: #CCC;
}

.header-title{
    display: flex;
    flex-direction: column;
    font-size: 8rem;
    -webkit-text-stroke: .5px #fff;
    color: transparent;
    font-family: Helvetica, sans-serif;
}


.arrow {
  border: solid #f4f4f4;
  border-width: 0 3px 3px 0;
  padding: 20px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  animation-name: animateArrow;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

.social{
    display: flex;
    list-style: none;
}

.social>li{
    margin: 0 20px;
}

@keyframes animateArrow{
    0%{
        opacity: 1;
    }
    25%{
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    75%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@media (max-width: 700px){
    .header-title{
        font-size: 4rem;
    }

    .arrow{
        padding: 15px;
        margin-bottom: 50px;
    }
}