.nav-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.nav-list{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

.list-item{
    padding:1rem 2rem 0rem 2rem;
    font-size: 2rem;
    cursor: pointer;
}

@media (max-width: 700px){
    .nav-list{
        display: none;
    }
}