.nav-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-list{
    display: flex;
    list-style: none;
}

.list-item{
    padding:1rem 2rem 0rem 2rem;
    font-size: 2rem;
    cursor: pointer;
}