@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');


.App {
  text-align: center;
  background-color: #252934;
  /* background-color: #222; */
scroll-behavior: smooth;
  font-family: 'Quicksand';
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

a{
    text-decoration: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
/* 
.btn1{
    border-radius: 10px;
    padding: 12px 17px;
    background-color: #7b7b7b50;
    transition: all 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
    color: #f4f4f490;
    box-shadow: 1px 1px 4px #d6bffc;

} */

.btn {
    float: left;
    min-width: 150px;
    max-width: none;
    display: block;
    padding: 15px 20px;
    font-size: 1em;
    border: none;
    border-radius: 20px;
    transition: background-color 0.3s, color 0.3s;
    border-color: #fff;
    background: #7b7b7b50;
    color: #ECEFF1;
    cursor: pointer;
    box-shadow: 1px 1px 6px #c4c4c4;
}

a {
  color: inherit;
}

.btn:hover{
      -webkit-transition: background-color 0.1s 0.3s, color 0.1s 0.3s;
    transition: background-color 0.1s 0.3s, color 0.1s 0.3s;
    color: #ffffff;
    background-color: #d6bffcd0;
    -webkit-animation: anim-moema-1 0.5s forwards;
    animation: anim-moema-1 0.3s forwards;
}

/* .btn:hover{
    box-shadow: 0px 0px 0px #d6bffc;
} */

.btn-disabled{
    box-shadow: 0px 0px 0px #d6bffc !important;
    cursor: crosshair;
}

@keyframes anim-moema-1{
  60% {
    -webkit-transform: scale3d(0.9, 0.9, 1);
    transform: scale3d(0.9, 0.9, 1);
}
85% {
    -webkit-transform: scale3d(1.1, 1.1, 1);
    transform: scale3d(1.1, 1.1, 1);
}
100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
}
}

@keyframes fadeIn{
 0% {
    -webkit-transform: translateY(400px);
    transform: translateY(400px);
 }
100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
} 
}